<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section class="py-20 bg-black">
      <div class="max-w-5xl mx-auto py-16 bg-white">
        <article class="overflow-hidden">
          <div class="bg-[white] rounded-b-md">
            <div class="p-9">
              <div class="space-y-6 text-slate-700">
                <img
                  class="object-cover h-12"
                  src="https://pbs.twimg.com/profile_images/1513243060834123776/dL8-d7zI_400x400.png"
                />

                <div class="flex justify-between items-center">
                    <p
                    class="text-xl font-extrabold tracking-tight uppercase font-body"
                  >
                    Sublimation Sialkot

                  </p>
                  <img src="https://img.freepik.com/premium-vector/digital-print-sublimation-cmyk-clothing-textile-mug-photo-printing-logo-design_635040-17.jpg" class="h-32 w-32"></img>
                </div>

              </div>
            </div>
            <div class="p-9">
              <div class="flex w-full gap-10">
                <div class="text-sm font-light text-slate-500">
                  <p class="text-sm font-normal text-slate-900">Invoice #:</p>
                  <p>Dated</p>
                  <p>Customer</p>
                  <p>Company</p>
                </div>
                <div class="text-sm font-light text-slate-500">
                  <p>2133131331</p>
                  <p>02-May-2023</p>
                  <p>Frisco</p>
                  <p>Sublimation Player limited</p>
                </div>
              </div>
            </div>

            <div class="p-9">
              <div class="flex flex-col mx-0 mt-8">
                <table class="min-w-full divide-y divide-slate-500">
                  <thead>
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-normal text-slate-700 sm:table-cell"
                      >
                        Sr#
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-left text-sm font-normal text-slate-700 sm:table-cell"
                      >
                        Description
                      </th>
                      <th
                        scope="col"
                        class="hidden py-3.5 px-3 text-center text-sm font-normal text-slate-700 sm:table-cell"
                      >
                        Height
                      </th>
                      <th
                        scope="col"
                        class="py-3.5 pl-3 pr-4 text-center text-sm font-normal text-slate-700 sm:pr-6 md:pr-0"
                      >
                        width
                      </th>
                      <th
                      scope="col"
                      class="py-3.5 pl-3 pr-4 text-center text-sm font-normal text-slate-700 sm:pr-6 md:pr-0"
                    >
                      Area
                    </th>
                    <th
                    scope="col"
                    class="py-3.5 pl-3 pr-4 text-center text-sm font-normal text-slate-700 sm:pr-6 md:pr-0"
                  >
                    Price
                  </th>
                  <th
                  scope="col"
                  class="py-3.5 pl-3 pr-4 text-center text-sm font-normal text-slate-700 sm:pr-6 md:pr-0"
                >
                  Quantity
                </th>
                <th
                scope="col"
                class="py-3.5 pl-3 pr-4 text-center text-sm font-normal text-slate-700 sm:pr-6 md:pr-0"
              >
                Amount
              </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-slate-200">
                      <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                        <div class="font-medium text-slate-700">
                         1
                        </div>

                      </td>
                      <td
                        class="hidden px-3 py-4 text-sm text-left text-slate-500 sm:table-cell"
                      >
                      IMG-J Shirts 32x32
                      </td>
                      <td
                        class="hidden px-3 py-4 text-sm text-center text-slate-500 sm:table-cell"
                      >
                        21
                      </td>
                      <td
                        class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
                      >
                       33
                      </td>
                      <td
                      class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
                    >
                     144
                    </td>

                    <td
                    class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
                  >
                   100
                  </td>

                  <td
                  class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
                >
                 2
                </td>

                <td
                class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
              >
               1002
              </td>

                    </tr>
                </tr>
            </thead>
            <tbody>
              <tr class="border-b border-slate-200">
                <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                  <div class="font-medium text-slate-700">
                   2
                  </div>

                </td>
                <td
                  class="hidden px-3 py-4 text-sm text-left text-slate-500 sm:table-cell"
                >
                IMG-J Cricket Uniforms 32x32
                </td>
                <td
                  class="hidden px-3 py-4 text-sm text-center text-slate-500 sm:table-cell"
                >
                  21
                </td>
                <td
                  class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
                >
                 33
                </td>
                <td
                class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
              >
               144
              </td>

              <td
              class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
            >
             100
            </td>

            <td
            class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
          >
           2
          </td>

          <td
          class="py-4 pl-3 pr-4 text-sm text-center text-slate-500 sm:pr-6 md:pr-0"
        >
         1002
        </td>

              </tr>

                  </tbody>

                  <tfoot>
                    <tr>
                      <th
                        scope="row"
                        colspan="5"
                        class="pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0"
                      >
                        Subtotal
                      </th>

                      <td
                        class="pt-6 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0"
                      >
                        2122 PKR
                      </td>
                    </tr>

                    <tr>
                        <th
                          scope="row"
                          colspan="5"
                          class="pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0"
                        >
                          Discount
                        </th>

                        <td
                          class="pt-6 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0"
                        >
                          300 PKR
                        </td>
                      </tr>

                      <tr>
                        <th
                          scope="row"
                          colspan="5"
                          class="pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0"
                        >
                          Grand Total
                        </th>

                        <td
                          class="pt-6 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0"
                        >
                          12000 PKR
                        </td>
                      </tr>


                         <tr>



                  </tfoot>
                </table>
              </div>
            </div>

            <div class="mt-48 p-9">
              <div class="border-t pt-9 border-slate-200">
                <div class="text-sm font-light text-slate-700">
                  <p>
                    Payment terms are 14 days from the date of invoice. In
                    accordance with the Late Payment Act of Pakistan, a late
                    payment fee of PKR 500 will be applied to overdue amounts
                    not settled within the initial 14-day period, with a new
                    invoice issued reflecting this fee. If the revised invoice
                    remains unpaid within an additional 14 days, interest at a
                    rate of 10% per annum will be charged on the overdue amount.
                    These terms are non-negotiable
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
