/* Target the entire table element within .booking_information_table */
.booking_information_table .ant-table {
  font-size: 14px !important;
}

/* Target table body rows and cells within .booking_information_table */
.booking_information_table .ant-table-tbody > tr > td {
  height: 5px !important;
  padding: 4px !important;
}

/* Style the 'my-tag' class within .booking_information_table */
.booking_information_table .my-tag {
  font-size: 12px !important;
  width: 150px !important;
  height: 16px !important;
}

/* Target table header rows and cells within .booking_information_table */
.booking_information_table .ant-table-thead > tr > th {
  height: 5px !important;
  padding: 4px !important;
  color: #0B6E4F !important;
}


.booking_information_table .ant-table-thead > tr > th:nth-child(2),
.booking_information_table .ant-table-thead > tr > th:nth-child(3) {
  
  border-bottom: 3px solid #FA9F42 !important;
}

.booking_information_table .ant-table-thead > tr > th:nth-child(4) {
  
  border-bottom:none !important;
}
 
 

/* Target specific table body cells within .booking_information_table */
.booking_information_table tr > td:nth-child(1),
.booking_information_table tr > td:nth-child(2),
.booking_information_table tr > td:nth-child(3),
.booking_information_table tr > td:nth-child(4),
.booking_information_table tr > td:nth-child(5) {
  color: #0B6E4F !important;
}
