.ant-table {
    font-size: 14px !important;
  }
  
  .ant-table-tbody > tr > td {
    height: 5px !important;
    padding: 4px !important;
  }
  .my-tag {
    font-size: 12px !important;
    width: 150px  !important;
    height: 16px !important;

  }
  .ant-table-thead > tr > th:nth-child(3),
  .ant-table-thead > tr > th:nth-child(4) {
   
    border-bottom: 3px solid #FA9F42 !important;
  }




  .ant-table-thead > tr > th {
    height: 5px !important;
    padding: 4px !important;
    color:  #0B6E4F !important;
   

  }

  
  tr > td:nth-child(2) {
    color:  #0B6E4F !important;
  }
  tr > td:nth-child(3) {
    color:  #0B6E4F !important;
  }
 